python-dotenv==1.0.*
requests==2.32.*
types-requests==2.32.*
beautifulsoup4==4.12.*
types-beautifulsoup4==4.12.*
Markdown==3.7.*
types-Markdown==3.7.*
roman==5.0
requests_cache==1.2.*
lxml==5.3.*
zeep==4.3.*
pylatexenc==2.10