:root {
    --spacing-1: 1rem;
    --spacing-0p5: 0.5rem;
}

header, main {
    max-width: 800px;
    margin: auto;
    padding: var(--spacing-1);
}

blockquote {
    border-left: 1px solid var(--border-plain-grey);
    padding-left: var(--spacing-1);
}

th {
    text-align: left;
}

a.dsr-document_reference, a.dsr-section_reference {
    color: var(--text-action-high-blue-france);
}

.dsr-error {
    font-family: monospace;
    background-color: #ffd0d0;
}

.dsr-error:before {
    content: '❌';
}

.dsr-alinea::before, .dsr-visa::before, .dsr-motifs::before {
    color: var(--text-disabled-grey);
    position: absolute;
    top: 0;
    left: -1rem;
}

.dsr-debug_keyword {
    color: var(--warning-425-625);
}

/**************** HEADER ****************/
header {
    padding-bottom: var(--spacing-1);
    margin-bottom: var(--spacing-1);
}

.dsr-entity, .dsr-identification {
    padding: var(--spacing-1);
    background-color: var(--background-alt-grey);
    text-align: center;
}

.dsr-identification {
    color: var(--text-title-grey);
}

.dsr-entity {
    color: var(--text-title-blue-france);
    font-size: 120%;
}

.dsr-visa, .dsr-motifs {
    position: relative;
    margin-top: var(--spacing-1);
    padding-bottom: 0;
}

.dsr-visa::before, .dsr-motifs::before {
    content: '⮞';
}

header > *:last-child {
    border-bottom: 1px solid var(--background-action-low-blue-france);
    padding-bottom: var(--spacing-1);
}

/**************** MAIN CONTENT ****************/
.dsr-table {
    font-family: monospace;
}

.dsr-section {
    padding: var(--spacing-0p5) 0;
}

.dsr-alinea {
    position: relative;
    margin-top: var(--spacing-0p5);
}

.dsr-alinea::before {
    content: '¶';
}

.dsr-section_title {
    background-color: var(--colors-title-bg);
}

.dsr-operation {
    background-color: var(--background-action-low-blue-france);
}